<div class="navbar">
    <!-- Vertical Navbar content goes here -->
        <ul class="icon-list align-self-start">
            <li class="mb-4">
                <i class="fas fa-cube tool-ico"></i>
            </li>
            <li class="mb-4">
                <i class="fas fa-chart-bar tool-ico"></i>
            </li>
            <li class="mb-4">
                <i class="fas fa-square-plus tool-ico"></i>
            </li>
            <li class="mb-4">
                <i class="fas fa-square-check tool-ico"></i>                
            </li>            
            <li class="mb-4">
                <i class="fas fa-gear tool-ico"></i>                
            </li>
            <li class="mb-4">
                <i class="fas fa-download tool-ico"></i>                
            </li>
        </ul>
    
</div>
<app-topnav></app-topnav>
<div class="intersection-box">
    <!-- Box at the intersection of toolbar and navbar -->
    <i class="fa-solid fa-align-left fa-flip-vertical nav-ico"></i>
</div>
<div class="content-box">
    <app-dashboard></app-dashboard>
</div>