<div class="toolbar p-3">
    <!-- Horizontal Toolbar content goes here -->
    <div class="row w-100">
        <div class="col-8">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control w-50" placeholder="Search">
            </div>
        </div>
        <div class="col-4"> 
            <div class="d-flex justify-content-end">
                <span class="tool-ico" >
                    <span class="fa col-gray fa-comment-dots px-2"></span>
                    <span class="fa col-gray fa-bell px-2"></span>
                </span>
            </div>
        </div>
    </div>
</div>