<div class="toolbar p-3">
    <!-- Horizontal Toolbar content goes here -->
    <div class="row w-100 align-items-center">
        <div class="col-8">
            <div class="custom-input">
                <span class="fa fa-search search-icon"></span>
                <input type="text" class="custom-text" placeholder="Search">
            </div>
        </div>
        <div class="col-4"> 
            <div class="d-flex justify-content-end">
                <span class="tool-ico" >
                    <span class="fa col-gray fa-comment-dots px-2"></span>
                    <span class="fa col-gray fa-bell px-2"></span>
                </span>
                <img src="http://placehold.it/32x32" alt="Profile Image" class="rounded-circle" width="48" height="48">
            </div>
        </div>
    </div>
</div>