<div class="custom-card" [ngClass]="card_index ==0 ? 'active' : ''">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <h2>
          {{card_data?.value}}%
        </h2>
      </div>
    </div>
    <div class="col-3">
      <i [class]="headerType[card_index].icon" class="fa-2x"></i>
    </div>
  </div>
  <div class="row">
    <h4>
      {{card_data?.header}}
    </h4>
  </div>
  <div class="row">
    <h6 class="color-gray">
      {{card_data?.sub_header}}
    </h6>
  </div>
</div>