<div class="container">
    <div class="row mb-3">
        <h4>New User Registrations
        </h4>
    </div>
    <div class="card-container">
        <div class="row mb-3" *ngFor="let item of card_data">
            <div class="col-2 align-self-center">
                <div class="image-container">
                    <img [src]="item?.picture" alt="user_image" class="rounded-image">
                    <div class="dot" [ngClass]="item.isActive ? 'active-dot' : 'inactive-dot' "></div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    {{item?.name}}
                </div>
                <div class="row color-gray">
                    {{item?.country}}
                </div>
            </div>
            <div class="col-5">
                <div class="progress-bar">
                    <div class="indicator" [style.width.%]="item.progress"
                        [ngClass]="{'low-progress': item.progress <= 25, 'medium-progress': item.progress > 25 && item.progress <= 75, 'high-progress': item.progress > 75}">
                    </div>
                    <div class="progress-text">{{ item.progress }}%</div>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <button class="custom-button">More</button>
            </div>
        </div>
    </div>
</div>