<div class="top-bar">
    <div class="d-flex p-2">
        <div class="nav-ico p-2">
            <i class="fa-solid fa-align-left fa-flip-vertical fa-2x px-2"></i>
        </div>
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <span class="fa col-gray fa-comment-dots fa-2x px-2"></span>
        <span class="fa col-gray fa-bell fa-2x px-2 "></span>
    </div>
</div>